*{
    padding: 0;
    margin: 0;
}


img{
    width:500px;
    padding: 0;
    margin: 0;
}
.containear{
    background-color: bisque;
    padding: 50px;
    display: flex;
     justify-content: center;
     

}
.box1{
    background: white;
    
    padding: 60px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.first p{
    line-height: 30px;
}
.first--one{
    padding: 20px;
    line-height: 30px;
    background-color:#F6E0E6;
    opacity: 1px;
    margin-top: 10px;
    width: 300px;
    

}
hr{
    margin-top: 10px;
}
.first--one li{
    padding: 10px;
}
h3{

    color: brown;
    font-size:30px;
}
.second{
    line-height: 40px;
    margin-top: 10px;

}
.third--one{
    line-height: 30px;
    margin-top: 10px;
    padding-left: 20px;
}
.four{
    margin-top: 10px;
    line-height: 30px;

}
.four--one{
    display: flex;
    flex-direction: column;  
    gap: 10px;
    

}
.four--one div{
border-bottom: solid black 1px;
width: 200px;
display: flex ;
gap: 30px;
justify-content: space-around;
align-items: center;
 

}
@media (max-width:690px) {
    .first h1{
        font-size: 25px;
    }
    .containear{
    
        padding: 10px;
        
         
    
    }
.box1{

    
    
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;

    
}
img{
    width: 200px;
}

.first--one{
    padding: 10px;
    line-height: 17px;
    background-color: pink;


    width: 150px;
    

}
    
}






